In [2]:
import pandas as pd

In [ ]:
# Load the CSV files (they're in the same directory now)
videos = pd.read_csv("shortform_videos.csv")
creators = pd.read_csv("shortform_creators.csv")
platforms = pd.read_csv("shortform_platforms.csv")

print(f" Loaded {len(videos)} videos, {len(creators)} creators, {len(platforms)} platforms")
videos.head()

âœ… Loaded 1000 videos, 50 creators, 5 platforms

,video_id,creator_id,format_type,duration_sec,views,likes,comments,shares,watch_time,full_views,hook_watch_rate,platform
0,v1,c39,meme,10,7693,4588,104,499,105186,3458,0.83,YouTube Shorts
1,v2,c29,meme,28,2613,4399,692,92,166707,5011,0.71,Facebook Reels
2,v3,c15,reaction,40,16780,570,555,684,270609,6897,0.76,Facebook Reels
3,v4,c43,reaction,25,14065,1026,281,78,57754,15975,0.78,YouTube Shorts
4,v5,c8,duet,23,10683,3772,686,621,230047,11239,0.72,Facebook Reels

In [ ]:
# Calculate retention rate and sort top-performing videos
videos['retention_rate'] = videos['full_views'] / videos['views']
videos[['video_id', 'retention_rate']].sort_values(by='retention_rate', ascending=False).head()

    video_id  retention_rate
616     v617       23.585736
33       v34       21.250660
181     v182       20.274074
802     v803       18.619580
459     v460       18.130094

In [ ]:
# Analyze average performance by format type
videos.groupby('format_type')[['views', 'likes', 'comments', 'shares', 'retention_rate']].mean().sort_values(by='retention_rate', ascending=False)

                    views        likes    comments      shares  retention_rate
format_type
story         9770.778894  2516.788945  509.080402  505.668342        1.792896
meme         10540.789216  2763.759804  517.833333  482.299020        1.668330
reaction     10544.645320  2501.729064  538.980296  465.753695        1.652105
tutorial     10422.534653  2495.762376  506.292079  496.054455        1.612918
duet         10375.947917  2527.937500  516.255208  495.640625        1.497282

In [ ]:
# Merge video and creator data
merged = videos.merge(creators, on='creator_id')
creator_summary = merged.groupby('creator_name')[['views', 'likes', 'shares', 'retention_rate']].mean()
creator_summary.sort_values(by='retention_rate', ascending=False)

In [ ]:
# Evaluate hook performance across videos
videos[['video_id', 'hook_watch_rate']].sort_values(by='hook_watch_rate', ascending=False).head()